* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  color: #fff
}

.neptr-heading {
  font-weight: 600;
  font-size: 32px;
  color: #fff;
  text-transform: uppercase;
}

.neptr-subheading {
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  color: rgba(255, 255, 255, .6);
}

#header {
  width: 100%;
  height: 100vh;
  background-color: #1e2433
}

#header-overlay {
  background-image: url(../../assets/img/header-background.jpg);
  background-color: #000;
  width: 100%;
  height: 100%;
  background-size: cover;
  opacity: .2;
  position: absolute
}

#header-overlay, .navbar-light .navbar-brand {
  background-repeat: no-repeat;
  background-position: center;
}

.navbar-light .navbar-brand {
  background-image: url(../../assets/img/logo-watermark-dark.svg);
  width: 150px;
  background-size: 80%;
  height: 40px
}

.navbar-margin {
  margin-right: 0;
  margin-left: 0
}

@media (min-width:992px) {
  .navbar-margin {
    margin-right: 0;
    margin-left: 0;
    padding-left: 10%;
    padding-right: 10%
  }
}

@media (min-width:1200px) {
  .navbar-margin {
    margin-right: 0;
    margin-left: 0;
    padding: 26px 10%
  }
}

@media (min-width:300px) {
  .navbar-light .navbar-nav .nav-link {
    color: #000;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Work Sans', sans-serif
  }
}

@media (min-width:768px) {
  .navbar-light .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    font-size: 16px;
    font-family: 'Work Sans', sans-serif
  }
}

@media (min-width:300px) {
  .navbar-light .navbar-nav .nav-link:hover {
    color: #000
  }
}

@media (min-width:768px) {
  .navbar-light .navbar-nav .nav-link:active,
  .navbar-light .navbar-nav .nav-link:hover,
  .navbar-light .navbar-nav .nav-link:visited {
    color: #fff
  }
}

@media (min-width:300px) {
  .navbar-light .navbar-nav .nav-link:focus {
    color: #000
  }
  .nav-item-padding {
    padding-right: 0
  }
}

@media (min-width:768px) {
  .navbar-light .navbar-nav .nav-link:focus {
    color: #fff
  }
  .navbar-divider {
    width: 2px;
    height: 15px;
    background-color: #fff;
    margin: 0 20px 0 10px
  }
}

@media (min-width:1200px) {
  .nav-item-padding {
    padding-right: 25px
  }
}

@media (min-width:300px) {
  .btn-custom {
    color: #fff;
    border-radius: 0!important;
    background-color: #0085fc;
    font-weight: 500;
    font-size: 14px;
    padding: 10px 20px;
    width: 100%
  }

  .btn-cdark {
    color: #fff;
    border-radius: 0!important;
    background-color: #1b212b;
    font-weight: 500;
    font-size: 14px;
    padding: 10px 20px;
    width: 100%
  }
}

@media (min-width:768px) {
  .btn-custom {
    color: #fff;
    border-radius: 2px!important;
    background-color: #0085fc;
    font-weight: 500;
    font-size: 14px;
    padding: 10px 20px;
    width: auto
  }

  .btn-cdark {
    color: #fff;
    border-radius: 2px!important;
    background-color: #1b212b;
    font-weight: 500;
    font-size: 14px;
    padding: 10px 20px;
    width: auto
  }
}

#home-hero,
.navbar-container {
  width: 100%
}

.btn-custom:hover {
  color: #fff
}

.btn-cdark:hover {
  color: #fff;
}

.navbar-light .navbar-toggler {
  color: #fff!important;
  border-color: transparent
}

.navbar-light .navbar-toggler-icon {
  color: #fff!important
}

@media (min-width:300px) {
  #navcol-1 {
    background-color: #fff
  }

  .testimonials-main {
    margin-top: 50px;
  }

  .v-align-beta {
    position: absolute;
    top: 15%;
  }
}

@media (min-width:768px) {
  #navcol-1 {
    background-color: transparent
  }
}

.navbar-fixed-top.scrolled {
  background-color: #1b212b!important;
  transition: background-color .2s linear;
  color: #000!important
}

.dropdown-menu {
  font-family: 'Work Sans', sans-serif
}

.nav-dropdown-item-head {
  font-weight: 500;
  font-size: 18px
}

.nav-dropdown-item-body {
  font-weight: 300;
  font-size: 12px
}

.dropdown-item {
  padding: .7rem 5rem!important
}

#home-hero {
  height: 100vh;
  color: #fff;
  display: table;
  opacity: 1;
  position: relative;
  z-index: 9
}

@media (min-width:300px) {
  #superiority, #testimonials {
    padding: 10% 0;
    background-color: #fff;
  }

  #products {
    padding-top: 10%;
    background-color: #fff;
  }
}

@media (min-width:768px) {

  #superiority, #testimonials {
    padding: 5% 0;
    background-color: #fff;
  }

  #products {
    padding-top: 5%;
    background-color: #fff;
  }

  .v-align {
    position: absolute;
    top: 40%;
  }

  .v-align-beta {
    position: absolute;
    top: 20%;
  }

  .testimonials-main {
    margin-top: 0;
  }
}

.section-heading {
  text-align: center;
}

.section-heading-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  color: #142149;
}

.section-heading-text {
  font-size: 17px;
  line-height: 28px;
  font-weight: 300;
  color: #525666;
}

.services-main, .superiority-main {
  margin-top: 50px;
}

.product-main, .sitem-main {
  background-color: white;
  box-shadow: 0 16px 40px 0 rgba(10,14,29,.04), 0 16px 80px 0 rgba(10,14,29,.16);
  border-radius: 3px;
  padding: 50px 30px;
  margin: 15px 0;
}

.test-main {
  background-color: white;
  box-shadow: 0 16px 40px 0 rgba(10,14,29,.04), 0 16px 80px 0 rgba(10,14,29,.16);
  border-radius: 3px;
  padding: 50px 30px;
  width: 66%;
  margin-top: 15%;
  margin-bottom: 15%;
}

.product-info, .sitem-info, .test-item {
  margin-top: 40px;
  text-align: center;
}

.product-heading, .sitem-heading, .test-heading {
  font-weight: 500;
  font-size: 23px;
  color: #142149;
}

.beta-heading {
  font-weight: 500;
  font-size: 32px;
  color: #fff;
}

.product-text, .sitem-text {
  font-weight: 300;
  font-size: 15px;
  color: #525666;
  margin-top: 20px;
}

.beta-text {
  font-weight: 300;
  font-size: 15px;
  color: rgba(255, 255, 255, .8);
  margin-top: 20px;
}

.test-review {
  font-weight: 300;
  font-size: 15px;
  color: #525666;
}

.test-main-right {
  margin-right: 30px;
}

.product-price, .sitem-more {
  padding-top: 15px;
  color: #0085fc;
  font-weight: 500;
  font-size: 16px;
}

.test-name {
  color: #525666;
  font-weight: 500;
  font-size: 16px;
}

.test-origin {
  color: #525666;
  font-weight: 400;
  font-size: 14px;
  font-style: italic;
}

.test-rating {
  color: orange;
  margin-top: 5%;
}

.products-hyperlink:hover, .superiority-hyperlink:hover {
  text-decoration: none;
}

.hover-up-effect {
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

@media (min-width:1200px) {
  .hover-up-effect:hover {
    top: -10px;
  }
}

.carousel-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: gallery-cell;
}

.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.tme-main {
  background-color: #1b212b;
  height: auto;
  border-radius: 3px;
  width: 100%;
}

#footer {
  background-color: #1b212b!important;
  height: auto;
}

#footer .footer-logo {
  width: 150px;
  height: 40px;
}

#footer .social-link:hover {
  color: white;
  text-decoration: none;
}

#footer .social-link {
  color: white;
}

.unstyled-link-dark:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, .8);
  font-weight: 300;
}

.unstyled-link-dark {
  color: rgba(255, 255, 255, .8);
  font-weight: 300;
  font-size: 15px;
}

.unstyled-link-light:hover {
  text-decoration: none;
  color: #525666;
  font-weight: 500;
}

.unstyled-link-light {
  color: #525666;
  font-weight: 500;
}

#copyright {
  background-color: #0085fc!important;
  padding: 1px 0;
}

.t-bold {
  font-weight: 600;
}

.footer-heading {
  color: #fff;
  font-size: 15px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.talign-right {
  text-align: right;
}

.talign-center {
  text-align: center;
}

.talign-left {
  text-align: left;
}

.social-links {
  text-align: left;
}

.footer-list {
  list-style-type: none;
}

.footer-item {
  text-decoration: none;
}

.btn-outline {
  color: #fff;
  border: 2px solid black;
  border-radius: 2px !important;
  font-weight: 500;
  font-size: 14px;
  padding: 10px 20px;
  width: auto;
}
